<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Ocelot Configuration Admin</title>
    <link href="~/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/site.min.css" rel="stylesheet" />

    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/bootstrap.js"></script>
    <script src="~/js/signalr-client.min.js"></script>
    <script src="~/js/site.js"></script>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="Admin" class="navbar-brand">Ocelot Configuration Admin</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="Admin">Home</a>
                    </li>
                    <li>
                        <a href="Logging">Logging</a>
                    </li>
                    <li>
                        <a href="Diagnostic">Diagnostic</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2017 - Ocelot Configuration Admin</p>
        </footer>
    </div>
</body>
</html>